@import '../../styles.variables';
header {
    background: #fff;
    color: #000;
    padding: 20px;
    border-bottom: 1px solid $backgroundColor;
    transition: all 0.5s ease;
    padding: 15px 10px;
    &.csTweenOnBegin{
        padding: 10px 10px;        
    }    

    h3{
        font-weight: 700;
        display: inline-block;
        margin-bottom: 0;
    }
    h4{       
        display: inline-block;
        margin-bottom: 0;
    }
    
    .header-col {
        position: relative;
        padding: 0;
        .col-inside {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
        }
        &.right {

            .fork{
                display: inline-block;  
                margin-top: 10px; 
                vertical-align: middle;            
            } 

            .links{
                display: inline-block;
                vertical-align: middle;
                a {
                    display: inline-block;
                    margin: 10px 5px 0px 5px;                
                }      
            }                  
        }
        @media (max-width: 992px) {
           &.last-of-type{
                padding-top: 15px;
           } 
           
            text-align: center;
            display: block;
        }
    }
    h3 {
        font-size: 22px;
        margin: 0;
        color: $heraderColor;
    }
}