<header class="container-fluid navbar-fixed-top" circus-scorll [csTweenBegin]="'1ovh'">
    <div class="container">
        <div class="tbl">
            <div class="col-lg-6 col-md-6 col-sm-12 header-col text-left tbl-cell">
                <h3>Circus Scroll 2</h3>
                <h4>Angular 2 Directive for scroll animations</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 header-col right text-right tbl-cell">
                <strong class="fork">Frok me on:</strong>
                <br class="visible-xs"/>
                <a href="//github.com/ZbigiMan/circus-scroll2" class="btn btn-primary">
                    GitHub <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="//www.npmjs.com/package/circus-scroll2" class="btn btn-danger">
                    npm <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</header>