<header class="container-fluid navbar-fixed-top">
    <div class="container ">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 header-col text-left">
            <h3><strong>Circus Scroll 2</strong> <br class="visible-sm"/>- Angular 2 Directive for scroll animations</h3>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 header-col text-right ">            
            <a href="//github.com/ZbigiMan/circus-scroll2" class="btn btn-primary">Frok me on GitHub <span class="glyphicon glyphicon-chevron-right"></span></a>                      
        </div>
    </div>    
</header>