<footer>
    <div class="container text-xs-center text-sm-left text-md-left text-lg-left text-xl-left">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nopadding">
            <h6>
                Author:<br/>
                Zbigi Man Zbigniew Stępniewski, <br class="hidden-sm-up"/> 2017, <br class="hidden-sm-up"/>MIT Licence
            </h6>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-xl-right text-lg-right text-md-right text-sm-right nopadding">
            <h6>
                <a target="_blank" href="//zbigiman.com">zbigiman.com</a><br/>
                <a target="_blank" href="//github.com/zbigiman">github.com/zbigiman</a>
            </h6>   
        </div>    
    </div>
</footer>