@import '../../styles.variables';

.welcomePage {
    overflow: hidden;
    margin-top: 35vh; 
    position: fixed;
    width: 100vw;
    top: 0;
    bottom:0;   
   
    @media (max-width:425px){
        margin-top: 40vh;
       
    } 

    @media (max-height: 700px){
        margin-top: 45vh;
    }  
    
    h1 {
        font-family: 'Fredericka the Great', cursive;
        font-size: 10vh;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        transition: all 0.5s ease;
        &.csTweenOnEnd {
            opacity: 0;
        }        
        &.two{            
            &.csTweenOnBegin {   
                transition: all 0.7s ease;            
                transform: rotate(360deg) scale(2);
            }
            &.csTweenOnEnd {
                transition: all 1.5s ease;
                transform: rotate(720deg) scale(0);
                opacity: 0;
            }
        }
    }
    .arrow {
        span {
            display: block;
            height: 2vh;
        }
        .dot {
            opacity: 1;
            transition: all 0.5s ease;
            &.csTweenOnBegin {
                opacity: 0;
            }
        }
        .arrowhead {
            transition: all 0.5s ease;
            &.csTweenOnBegin {
                transform: scale(2);
            }
            &.csTweenOnEnd {
                opacity: 0;
                transform: scale(0.5);
            }
        }
    }
}