<div class="container-fluid reade-me">   
    <div class="container">
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <h2 class="section-header">Installation</h2>
        </div>
        <div class="container block"circus-scorll [csTweenBegin]="'30ovh'">     
           <h4>Using Git</h4>
        </div>
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">   
           <label class="label label-info">bash:</label>
           <codemirror [(ngModel)]="codeInstallGit" [config]="cmConfigShell"></codemirror>
        </div>                
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <h2 class="section-header">How to use</h2>
        </div>        
        <div class="container block"circus-scorll [csTweenBegin]="'30ovh'">     
           <h4>Import CircusScrollDirective</h4>
        </div>
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">   
           <label class="label label-info">app.module.ts:</label>
           <codemirror [(ngModel)]="codeAppModule" [config]="cmConfigTypeScript"></codemirror>
        </div>        
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <h4 class="section-header">Example 1:</h4>
        </div>
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">       
            <label class="label label-info">HTML:</label>
            <codemirror [(ngModel)]="codeExample1HTML" [config]="cmConfigHTML"></codemirror>
        </div>
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <div class="alert alert-info">
                <strong>ovh</strong> - viewport offset counted in vh.
            </div>
        </div>    
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">    
            <label class="label label-info">CSS:</label>
            <codemirror [(ngModel)]="codeExample1CSS" [config]="cmConfigSCSS"></codemirror>
        </div>      
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <h4 class="section-header">Example 2:</h4>
        </div>         
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <label class="label label-info">HTML:</label> 
            <codemirror [(ngModel)]="codeExample2HTML" [config]="cmConfigHTML"></codemirror>
        </div>          
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">
            <h4>Callback functions:</h4>
        </div>         
        <div class="container block" circus-scorll [csTweenBegin]="'30ovh'">      
            <label class="label label-info">your.component.ts</label>     
            <codemirror [(ngModel)]="codeExample2Component" [config]="cmConfigTypeScript"></codemirror>
        </div>
    </div>  
</div>