<div class="container-fluid reade-me">   
    <div class="container">        
        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor" id="installation"></a>
            <h2 class="section-header">Installation</h2>
        </div>

        <div class="container block"circus-scroll [csTweenBegin]="'25ovh'">     
           <h5>circus-scroll2_demo via git</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">   
           <label class="label label-info">bash:</label>
           <codemirror [(ngModel)]="codeInstallGit" [config]="cmConfigShell"></codemirror>
        </div>

        <div class="container block"circus-scroll [csTweenBegin]="'25ovh'">     
           <h5>circus-scroll.directive via npm</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">   
           <label class="label label-info">bash:</label>
           <codemirror [(ngModel)]="codeInstallNpm" [config]="cmConfigShell"></codemirror>
        </div>  
        
        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor"  id="how-to-use"></a>
            <h2 class="section-header">How to use</h2>
        </div> 

        <div class="container block"circus-scroll [csTweenBegin]="'25ovh'">     
           <h5>Import CircusScrollDirective</h5>
        </div> 

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">   
           <label class="label label-info">app.module.ts:</label>
           <codemirror [(ngModel)]="codeAppModuleNpm" [config]="cmConfigTypeScript"></codemirror>
        </div>

        <div class="container block"circus-scroll [csTweenBegin]="'25ovh'">     
           <h5>Add CircusScrollDirective to @NgModule declarations</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">   
           <label class="label label-info">app.module.ts:</label>
           <codemirror [(ngModel)]="codeAppModuleDeclaration" [config]="cmConfigTypeScript"></codemirror>
        </div>  

        
        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor" id="example1"></a>
            <h5 class="section-header">Example 1.
                <br class="hidden-sm-up"/>
                <i class="fa fa-chevron-right" aria-hidden="true"></i> CSS animation using triggered classes.
            </h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">       
            <label class="label label-info">HTML:</label>
            <codemirror [(ngModel)]="codeExample1HTML" [config]="cmConfigHTML"></codemirror>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <div class="alert alert-info">
                <strong>ovh</strong> - viewport offset counted in vh.
            </div>
        </div>  

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">    
            <label class="label label-info">CSS:</label>
            <codemirror [(ngModel)]="codeExample1CSS" [config]="cmConfigSCSS"></codemirror>
        </div>  
        
        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor" id="example2"></a>
            <h5 class="section-header">Example 2.
                <br class="hidden-sm-up"/>
                <i class="fa fa-chevron-right" aria-hidden="true"></i> Animation fully synchronized with scroll and callbacks.
            </h5>
        </div>  

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <label class="label label-info">HTML:</label> 
            <codemirror [(ngModel)]="codeExample2HTML" [config]="cmConfigHTML"></codemirror>
        </div>  

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <h5>Callbacks:</h5>
        </div> 

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">      
            <label class="label label-info">your.component.ts</label>     
            <codemirror [(ngModel)]="codeExample2Component" [config]="cmConfigTypeScript"></codemirror>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor" id="example3"></a>
            <h5 class="section-header">Example 3.
                <br class="hidden-sm-up"/>
                <i class="fa fa-chevron-right" aria-hidden="true"></i> Smooth scroll to anchor.
            </h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <h5>Minimal configuration:</h5>
        </div> 
        
        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">                
            <label class="label label-info">your.component.ts</label>     
            <codemirror [(ngModel)]="codeExample3Component" [config]="cmConfigHTML"></codemirror>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <div class="alert alert-info">
                <strong>Defaults:</strong>
                <ul>
                    <li>duration: 1000</li>
                    <li>easing: easeOutQuad</li>
                </ul>                
            </div>
        </div>  

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <h5>Extended configuration:</h5>
        </div> 

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">                
            <label class="label label-info">your.component.ts</label>     
            <codemirror [(ngModel)]="codeExample3Component1" [config]="cmConfigHTML"></codemirror>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <a class="anchor" id="easing"></a>
            <h5 class="section-header">Easing types:</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'25ovh'">
            <div class="alert alert-info">                
                <ul class="list">
                    <li>swing</li>
                    <li>easeInQuad</li>
                    <li>easeOutQuad</li>
                    <li>linear</li><li>easeInOutQuad</li>
                    <li>easeInCubic</li>
                    <li>easeOutCubic</li>
                    <li>easeInOutCubic</li>
                    <li>easeInQuart</li>
                    <li>easeInOutQuart</li>
                    <li>easeInQuint</li>
                    <li>easeOutQuint</li>
                    <li>easeInOutQuint</li>
                    <li>easeInSine</li>
                    <li>easeOutSine</li>
                    <li>easeInOutSine</li>
                    <li>easeInExpo</li>
                    <li>easeOutExpo</li>
                    <li>easeInOutExpo</li>
                    <li>easeInCirc</li>
                    <li>easeOutCirc</li>
                    <li>easeInOutCirc</li>
                    <li>easeInElastic</li>
                    <li>easeOutElastic</li>
                    <li>easeInOutElastic</li>
                    <li>easeInBack</li>
                    <li>easeOutBack</li>
                    <li>easeInOutBack</li>
                    <li>easeInBounce</li>
                    <li>easeOutBounce</li>
                    <li>easeInOutBounce</li>
                </ul>                
            </div>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'10ovh'">
            <a class="anchor" id="easing"></a>
            <h5 class="section-header">More documentation and examples soon.</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'10ovh'">            
            <h5>Fork me on:</h5>
        </div>

        <div class="container block" circus-scroll [csTweenBegin]="'10ovh'">
            GitHub: <a href="https://github.com/ZbigiMan/circus-scroll2_demo">https://github.com/ZbigiMan/circus-scroll2_demo</a>
            <br/>
            npm: <a href="https://www.npmjs.com/package/circus-scroll2">https://www.npmjs.com/package/circus-scroll2</a>         
        </div>    
    </div>  
</div>
