@import 'styles.variables';

body {
    background-color: $backgroundColor;
    color: #fff;
}

.screen {
    width: 100%;
    height: 100vh;
    display: table;
    .screen-content {
        display: table-cell;
        vertical-align: middle;
    }
}

//bootstrap
.label,
.alert {
    border-radius: 0;
}

.label {
    font-size: 12px;
}

.alert{
    margin: 0;
}

//

//CodeMirror

.CodeMirror {
    height: auto;
}

//