@import 'styles.variables';
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $backgroundColor;
    color: #fff;
}

.screen {
    height: 100vh;
    .screen-content {
        height: 100vh;
    }
}

.tbl {
    display: table;
    width: 100%;
    height: 100%;
    .tbl-cell {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

//bootstrap/global
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.alert {
    border-radius: 0;
}

.label {
    margin: 0;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 700;
    &.label-info {
        background: $infoBackround;
    }
}

.alert {
    margin: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -16vh;
    visibility: hidden;
}

a {
    font-weight: 400;
}

.btn,.navbar-toggler{
    padding: 0.4rem 1rem;
    height: auto;    
    font-weight: 700;
}

h4{
    @media(max-width: $xs){
        font-size: 1.2rem;
    }
}

//
//CodeMirror
.CodeMirror {
    height: auto;
    font-size: 14px;
    @media(max-width: 768px) {
        font-size: 12px;
    }
}

//