@import 'styles.variables';
body {
    background-color: $backgroundColor;
    color: #fff;
}

.screen {
    height: 100vh;
    .screen-content{
         height: 100vh;
    }
}

.tbl {
    display: table;
    width: 100%;  
    height: 100%;  
    .tbl-cell {
        
        display: table-cell;
        vertical-align: middle;
        float: none;        
    }
}

//bootstrap
.label,
.alert {
    border-radius: 0;
}

.label {
    font-size: 12px;
}

.alert {
    margin: 0;
}

//
//CodeMirror
.CodeMirror {
    height: auto;
}

//